{% extends "base.html" %}

{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Certificado-BR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'alunos' %}">Alunos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'cadastrar_aluno' %}">Cadastrar aluno</a>
                    <a class="dropdown-item" href="{% url 'cadastrar_certificado' %}">Cadastrar certificado</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'certificados' %}">Lista de certificados</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Sair</a>
            </li>
        </ul>

    </div>
</nav>
{% endblock %}

{% block main %}
<div class="row pt-5"></div>
<div class="row pt-5">
    <div class="container">
        <h5>Lista de Certificados</h5>
        <table class="table table-striped table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Aluno</th>
              <th scope="col">Codigo</th>
              <th scope="col">Instituição de ensino</th>
              <th scope="col">Curso</th>
              <th scope="col">Carga Horaria</th>
              <th scope="col">Imprimir</th>
            </tr>
          </thead>
          <tbody>
           {% for certificado in certificados %}
            <tr>

                    <td> {{ certificado.aluno }}</td>
                    <td> {{ certificado.codigo }}</td>
                    <td> {{ certificado.faculdade }} </td>
                    <td> {{ certificado.curso }} </td>
                    <td> {{ certificado.carga_horaria }} </td>
                    <td>
                        <a href="{% url 'pdf' certificado.id %}"> <img src="https://img.icons8.com/android/24/000000/print.png"> </a>
                    </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock %}
