{% extends "base.html" %}
{% include "alterar_senha.html" %}

{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Certificado-BR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'alunos' %}">Alunos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'cadastrar_aluno' %}">Cadastrar aluno</a>
                    <a class="dropdown-item" href="{% url 'cadastrar_certificado' %}">Cadastrar certificado</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'certificados' %}">Lista de certificados</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Sair</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block main %}

<div class="row mt-5">
<div class="container">
    <h5>Edição de Aluno</h5>
    {% if msg == "true" %}
        <div class="alert alert-success" role="alert">
          Dados alterados com sucesso!
        </div>
    {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-12 p-2">
                    <label for="lblnome">Nome</label>
                    <input type="text" class="form-control" id="lblnome" name="nome" value="{{ aluno.nome }}" required>
                </div>
                <div class="col-4 p-2">
                    <label for="lblcidade">Cidade</label>
                    <input type="text" class="form-control" id="lblcidade" name="cidade" value="{{ aluno.cidade }}" required>
                </div>
                <div class="col-4 p-2">
                    <label for="lblestado">Estado</label>
                    <input type="text" class="form-control" id="lblestado" name="estado" value="{{ aluno.uf }}" required>
                </div>
                <div class="col-4 p-2">
                    <label for="lblcurso">Curso</label>
                    <input type="text" class="form-control" id="lblcurso" name="curso" value="{{ aluno.curso }}" required>
                </div>
            </div>
             <button class="btn btn-primary mt-3">Atualizar</button>
             <a href="#" class="btn btn-warning mt-3" class="open-modal" data-toggle="modal" data-target="#alteraSenhaModal">Alterar Senha</a>
             <a href="#" class="btn btn-danger mt-3">Excluir</a>
        </form>


<!-- Modal -->
<div class="modal fade" id="alteraSenhaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mudar senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
              <label for="lblUser">Usuario</label>
              <input type="text" class="form-control" name="usuario" value="{{ usuario }}" required>
              <label for="lblSenha">Senha</label>
              <input id="lblSenha" type="password" class="form-control" name="senha" required>
              <button type="button" class="btn btn-secondary mt-3" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary mt-3" name="UPDATE">Alterar</button>
          </form>
      </div>

    </div>
  </div>
</div>
</div>
<div class="row mt-5"></div>
</div>
<!-- Ajax -->
<script>

var modalDiv = $(".modal-div");

$(".open-modal").on("click", function() {
  $.ajax({
    url: $(this).attr("data-url"),
    success: function(data) {
      modalDiv.html(data);

      $("#senhaModal").modal('show');
    }
  });
});

</script>

{% endblock %}