{% extends "base.html" %}

{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Certificado-BR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'alunos' %}">Alunos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'cadastrar_aluno' %}">Cadastrar aluno</a>
                    <a class="dropdown-item" href="{% url 'cadastrar_certificado' %}">Cadastrar certificado</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'certificados' %}">Lista de certificados</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Sair</a>
            </li>
        </ul>

    </div>
</nav>
{% endblock %}

{% block main %}
<div class="row pt-5"> </div>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    Exclusão de aluno
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p class="card-text">Deseja realmente excluir {{ aluno.nome }} ? </p>
                        <a href="{% url 'edit_aluno' aluno.id %}" class="btn btn-success">Voltar</a>
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}