{% load static %}
<html>
 <head>
   <title>Test</title>
   <style>
     h1 {
       text-align: center;
     }

     table {
       border: 1px solid;
       margin: 0 auto;
       width: 70%;
     }

     td, th {
       text-align: center;
       border: 1px solid;
     }
     .borda{
        border: solid 3px black;
        border-radius: 10px;
     }
     #titulo{
        color: black;
     }
      @page { size: letter landscape; margin: 2cm; }
   </style>
 </head>
 <body>
 <div class="borda">
     <h1 id="titulo">CERTIFICADO</h1>
     <p style="padding: 25px;">
         Certificamos que o aluno <span style="font-weight: bold;">{{ certificado.aluno }}</span> concluiu nosso curso de
         <span style="font-weight: bold;">{{ certificado.curso }}</span>, na instituição <span style="font-weight: bold;">
         {{ certificado.faculdade}}, com uma carga horaria no total de <span style="font-weight: bold;">
         {{ certificado.carga}} horas.</span>
     </span>
     </p>

 </div>

   <img src="{% static 'img/certificado.png' %}" alt="">
 </body>
</html>